/* body and divs */
body {
 font-family: Georgia, serif;
 margin: 10;
 padding: 0;
}
#top {
 text-align: center;
 color: black;
 margin: 0;
 padding: 0;
}
#footer {
 text-align: center;
 border-top: 1px solid black;
}
#content.center {
 text-align: center;
 background: #ccc;
}
#ads {
 text-align: center;
}
/* end of body and divs */


/* fonts */
h1 {
 font-size: 300%;
}
a {
 text-decoration: none;
 color: #005500;
}
h1 a {
  text-decoration: none;
  color: black;
}
h1 a:hover, p.all a:hover, ul.returnlinks a:hover, .footer a:hover {
 text-decoration: none;
 color: black;
 background: url('bg.gif');
}
/* end of fonts */


/* lists */
ul.returnlinks {
 list-style-type: disc;
 margin: 0;
 padding: 0;
}

ul.returnlinks li {
 display: inline;
 margin-left: 5px;
}
/* end of lists */

/* classes */
.footer {
  padding-top: 10px;
  font-size: 60%;
}
/* end of classes */
